<div class="card-wrapper">
  <div class="card">
    <div class="card-image">
    <figure class="image is-4by3">
      <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
    </figure>
    </div>
  <div class="card-content">
  <div class="media">
    <div class="media-left">
    <figure class="image is-48x48">
      <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
    </figure>
    </div>
    <div class="media-content">
    <p class="title is-4">{{ site.author }}</p>
    <p class="subtitle is-6">@{{ site.twitter_username }}</p>
    </div>
  </div>

  <div class="content">
    终身学习者，对<a>批判性思维</a>、<a>机器学习</a>、<a>深度学习</a>、<a>形式化方法</a>和<a>嵌入式开发</a>
    甚感兴趣。
    <small>{{ site.time | date_to_string }}</small>
  </div>
  </div>
</div>
</div>
