<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta.html %}
    {% include links.html %}
    {% include analytics.html %}
  </head>
  <body>
    <!-- this is the top navigation -->
    {% include nav.html %}
    <!-- end of top navigation -->

    <!-- this is the title section -- this can include a header image
      if this section isn't big enough, add a div with the "section" class -->
    {% include title_section.html %}
    <!-- end of title section -->

    <!-- this is the main page content -->
    <div class="main-content">
      <div class="container">
        <div class="columns is-multiline is-centered">
          <!-- posts (image length should be 400; height can be whatever) -->
          <div class="column is-8">
            <div class="box">
              <div class="content-header">
                <div class="has-text-centered">
                  <img src="http://placehold.it/200x200">
                  <h4 class="title is-4 is-spaced">About Me</h4>
                  <h5 class="subtitle is-5"><i>A Geek</i></h5>
                  <hr/>
                </div>
              </div>
              <div class="content">{{ content }}</div>
              <hr/>
              <div class="end-content-nav-wrapper">
                <div class="is-pulled-left">
                  <a href="/">
                    <i class="fa fa-angle-double-left" aria-hidden="true"> Back to Home</i>
                  </a>
                </div>
              </div>
            </div>
            <!-- about content should end here --> 
          </div>
          <!-- end of about column -->
          <!-- sidebar with plugins/details/etc -->
          <div class="column is-4 is-narrow">
            {% include sidebar_about.html %}
            {% include sidebar_author.html %}
          </div>
          <!-- end of plugins/etc/ column -->
        </div>
      </div>
    </div>
    <!-- end of main page content -->

    <!-- footer begins here -->
    {% include footer.html %}
    <!-- footer end here -->    
  </body>
</html>
